<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>


    <div class="block p-6 mx-auto px-4 w-5/6 mt-10 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100
        dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h2 class="text-green-500 text-2xl md:text-2xl lg:text-2xl font-bold p-1 ml-2">Home</h2>

        <div>
            <!-- Home -->
        </div>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>

</html>