<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>

    <div class="block p-10 mx-auto px-4 w-5/6 md:w-3/6 mt-10 bg-white rounded-lg border border-gray-200 shadow-md
        dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex justify-between mb-5">
            <h2 class="text-green-500 text-2xl md:text-2xl lg:text-2xl font-bold p-1 ml-2">Edit User</h2>
            <a href="/users"
                class="py-2 px-2 max-h-fit font-medium text-white bg-green-500 rounded hover:bg-green-400 transition duration-300">back</a>
        </div>
        <div class="p-3">
            <form action="/users/<%= user.id %>?_method=PUT" method="post" enctype="application/x-www-form-urlencoded">

                <label for="email-address-icon"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Email</label>
                <div class="relative">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                        </svg>
                    </div>
                    <input type="text" id="email-address-icon" name="email" value="<%= user.email %>" disabled
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="name@example.com">
                </div>
                <!-- <label for="password"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your Password</label>
                <div class="relative">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                        </svg>
                    </div>
                    <input type="password" id="password" name="password"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="">
                </div> -->

                <div class="flex items-center mb-4">
                    <input <%= (user.type == 'admin' ? 'checked' : '') %> id="type-1" type="radio" value="admin" name="type" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="type-1" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Admin</label>
                </div>
                <div class="flex items-center">
                    <input <%= (user.type == 'visitor' ? 'checked' : '') %> id="type-2" type="radio" value="visitor" name="type" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="type-2" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Visitor</label>
                </div>

                <button class="py-2 px-2 my-2 font-medium text-white bg-green-500 rounded hover:bg-green-400 transition duration-300" type="submit" onclick="return confirm('Are you sure?')">Save</button>

            </form>
        </div>
    </div>

    <%- include("../partials/footer.ejs") %>
</body>

</html>