<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>

    <div class="block p-10 mx-auto px-4 w-5/6 mt-10 bg-white rounded-lg border border-gray-200 shadow-md
        dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div class="flex justify-between mb-5">
            <h2 class="text-green-500 text-2xl md:text-2xl lg:text-2xl font-bold p-1 ml-2">Users</h2>
            <a href="/users/new"
                class="py-2 px-2 max-h-fit font-medium text-white bg-green-500 rounded hover:bg-green-400 transition duration-300">New</a>
        </div>
        <div>

            <div class="overflow-x-auto relative  sm:rounded-lg">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="py-3 px-6">
                                Email
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Type
                            </th>

                            <th scope="col" class="py-3 px-6">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>


                        <% if(users.length > 0){ %>
                        <% users.forEach((user)=>{%>
                        <tr
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row"
                                class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <%= user.email %>
                            </th>
                            <td class="py-4 px-6">
                                <%= user.type %>
                            </td>

                            <td class="py-4 px-6 text-right flex justify-end">
                                <a href="/users/edit/<%= user.id %>"
                                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                                <form form action="/users/<%= user.id %>?_method=DELETE" method="post"
                                    enctype="application/x-www-form-urlencoded">
                                    <button type="submit"
                                        class="ml-4 font-medium text-red-600 dark:text-red-500 hover:underline"
                                        onclick="return confirm('Are you sure?')">Delete</button>
                                </form>
                            </td>
                        </tr>

                        <% }); %>
                        <% }else{ %>

                        <% } %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <%- include("../partials/footer.ejs") %>
</body>

</html>